.App{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #427885;
  font-family: 'Syne Mono', monospace;
  color: #D2EAE1;
}